<%- include('partials/head.ejs') %> 

<div class="container">
  <%- include('partials/navBar.ejs') %> 
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title card-header"><%= question.title %></h5>
      <p class="card-text mt-3"><%= question.description %></p>
      <a href="/" class="btn btn-primary">Home</a>
    </div>
  </div>
  
  <form class="form-control mt-3" method="post" action="/answer">
    <p class="h2">Responda Aqui!</p>
    <textarea name="body" class="form-control mb-3" style="height: 6rem;" id="resposta"></textarea>
    <input type="hidden" name="question" value="<%= question.id %> ">
    <input type="submit" value="Enviar resposta" class="btn btn-outline-primary" id="btn-sub">
  </form>

  <div class="mt-5">
    <p class="h2 mb-4">Todas as repostas anteriores</p>
    <% answers.forEach(answer => { %>
      <ul class="list-group mb-2 mt-2">
        <li class="list-group-item active" aria-current="true"><%= answer.body %> </li>
      </ul>
    <% }) %>
  </div>
</div>
<%- include('partials/footer.ejs') %> 
